/* Selector universal */
* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100%;
  width: 100%; 
}
html{
  width:100%;
  height: 100%;
}
h1{
  color: orange;
  text-decoration: underline;
  padding-bottom: 10px;
  padding-bottom: 10px;
}
h2{
  padding-bottom: 10px;
  text-decoration: underline;
}
h3{
  font-size: 20px;
  margin-bottom: 5px;
}
/*----------------------------------------------------------------------------------*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  gap: 40px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(155, 21, 21);
}
/*--------------------------------------*/
#bloque_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.control-container button {
  margin: 0 10px;
}
.control-container input {
  width: 50px;
  text-align: center;
}

.boton_costado{
  background-color: burlywood;
  color:black;
  padding: 25px 25px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.selected {

    box-shadow: 0 0 10px rgba(255, 229, 112, 0.8), 
                  0 0 20px rgba(255, 235, 148, 0.8),  
                  0 0 30px rgba(202, 187, 118, 0.8);
    /*border: 3px solid lightyellow;*/  
    filter: brightness(1.5);
  
}
#timeInput{
  color: black;
  font-size: 35px;
  text-align: center;
  width: 120px;
  padding-left: 0px;
  padding-right: 2px;
  border: 2px solid black;
  cursor:not-allowed;
}

.boton_start{
  background-color: burlywood;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
}

.button {
  padding: 120px 60px;
  font-size: 16px;
  background-color: #e91010;
  font-size: 50px;
  color: white;
  border: 10px solid white;
  border-radius: 200%;
  cursor: pointer;
  outline: none; /* Evita el borde al hacer click */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  display: inline-block; /* Para que el tamaño del botón se ajuste automáticamente */
  text-decoration: none; /* Eliminar subrayado */
}

/* Estilo cuando se hace click */
.button:active {
  background-color: #b30000;
  transform: scale(0.95); /* Reducir tamaño momentáneamente */
}

/* Estilo al salir del click */
.button:focus {
  outline: none; /* Evitar borde al enfocar */
}

/*--------------------------------------*/
/*Bloque 2*/
#bloque_2{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botonazo{
  width: 90vw;
  cursor: pointer;
  display:none;
}
/*--------------------------------------*/
/*Bloque 3*/
#bloque_3{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perdiste {
  width: 80vw;
  cursor: pointer;
}

/*-------------------------------------------------------------------------*/
@media screen and (min-width: 401px) {
  #timeInput{
    color: black;
    font-size: 35px;
    text-align: center;
    width: 120px;
    padding-left: 15px;
    padding-right: 0px;
  }
  .boton_start{
    margin-top: 10px;
  }
  .button {
    padding: 120px 60px;
    font-size: 16px;
    font-size: 50px;
    cursor: pointer;
  }
  .botonazo{
    width: 30vw;
  }
  .perdiste {
    width: 30vw;
  }
}


